idf_component_register(SRCS "sensor.c"
                       INCLUDE_DIRS "."
                       REQUIRES "log")
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json